:root {
  --color-main_theme: #36b37e;
  --color-second_green: #c5e9da;
  --color-white_bg: #ebf0ee;
  --color-darkblue: #172b4d;
  --backgroundColor: #fff;
  --colorMenutext: #3a4a42;
  --colorAboutBackground: #c1c7d0;
  --colorProjecttext: #344563;
  --colorButtonPressed: #008552;
  --color-button-hover: rgba(54, 179, 127, 0.24);
  --sections-max-width: 2160px;
  --wrapper-max-width: 1280px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

/* ------- Header --------- */

.header {
  width: 100vw;
  max-width: var(--sections-max-width);
  height: 5vh;
  min-height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--backgroundColor);
}

header ul {
  display: none;
}

.burger {
  width: 18px;
  height: 12px;
  margin-top: 25px;
  margin-right: 30px;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}

.burger .bar {
  border-radius: 20px;
  height: 2px;
  background-color: var(--color-darkblue);
}

/* ------------ Header Burger - Active ------------ */

.header-active {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: flex-end;
  background: var(--backgroundColor);
}

button,
button a {
  max-height: 48px;
  padding: 0 5%;
  margin: 0 12px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: var(--backgroundColor);
  cursor: pointer;
  transition: scale 100ms linear;
}

.about_button a {
  padding: 0;
}

.header-active ul {
  height: 250px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 70px;
  padding-left: 10%;
  list-style: none;
}

.header-active li a {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4.4rem;
  text-decoration: none;
  color: var(--colorMenutext);
}

.burger-active {
  width: 18px;
  height: 18px;
  margin-top: 25px;
  margin-right: 30px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: pointer;
}

.burger-active .top {
  border-radius: 20px;
  height: 2px;
  background-color: var(--color-darkblue);
  transform: rotate(45deg) translate(8px);
  transition: all 0.3s ease;
}

.burger-active .bot {
  border-radius: 20px;
  height: 2px;
  background-color: var(--color-darkblue);
  transform: rotate(315deg) translate(8px);
  transition: all 0.3s ease;
}

/* -------- Main Section ---------- */

.main {
  width: 100vw;
  max-width: var(--sections-max-width);
  min-height: 770px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  background-image: url("./assets/background/header-illsutration-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main h1 {
  margin-top: 20%;
  font-style: normal;
  font-weight: 800;
  font-size: 4rem;
  line-height: 52px;
  text-align: center;
  color: var(--color-darkblue);
}

.main .h1_sub {
  width: 80%;
  font-style: normal;
  font-weight: 800;
  font-size: 4rem;
  line-height: 52px;
  text-align: center;
  color: var(--color-main_theme);
}

p,
.main p {
  width: 82%;
  min-width: 300px;
  margin-top: 10%;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  text-align: center;
  color: var(--color-darkblue);
}

.span__br {
  display: none;
}

.social_media {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social_media ul {
  width: 50%;
  max-width: 220px;
  padding-left: 0;
  margin: 5% 0 10% 0;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: baseline;
  list-style: none;
}

.arrow_button {
  width: 40px;
  height: 40px;
  margin: 20% auto 5% auto;
  border-radius: 50%;
}

.arrow_button:hover {
  box-shadow: var(--color-button-hover) 0 0 0 0;
}

/* -------Projects----------- */

.projects {
  width: 100vw;
  max-width: var(--sections-max-width);
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--backgroundColor);
}

.project_title {
  max-width: 463px;
  margin: 8% auto 4% auto;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  color: var(--colorProjecttext);
  text-align: center;
}

.projects_h2_icon {
  width: 48px;
  margin: 0 auto 10% auto;
  border-radius: 24px;
  height: 5px;
  background-color: var(--color-main_theme);
}

.project_wrapper {
  width: 100vw;
  max-width: var(--wrapper-max-width);
  margin-bottom: 112px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
  row-gap: 32px;
}

.project_card {
  width: 327px;
  height: 474px;
  position: relative;
  background: var(--color-white_bg);
  border: 1px solid var(--colorAboutBackground);
  border-radius: 8px;
}

.project_card_wrapper {
  width: 327px;
  height: 222px;
  position: absolute;
  left: calc(50% - 327px / 2);
  bottom: -1px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  background: var(--backgroundColor);
  border-left: 1px solid var(--colorAboutBackground);
  border-right: 1px solid var(--colorAboutBackground);
  border-bottom: 1px solid var(--colorAboutBackground);
  border-radius: 8px;
}

h4,
.project_card_title {
  width: 100%;
  height: 48px;
  margin: 0 0 16px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-align: center;
  color: var(--colorProjecttext);
}

.project_card_tags {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 8px 0;
  list-style: none;
  float: left;
}

.project_card_tags li {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
  color: var(--colorProjecttext);
  background: var(--color-white_bg);
  border-radius: 4px;
}

button,
.project_card_button {
  width: autopx;
  height: 48px;
  border-style: none;
  margin-top: 8px;
  background: var(--color-main_theme);
  border-radius: 4px;
}

button:hover {
  box-shadow: 0 8px 16px var(--color-button-hover);
  scale: 1.1;
}

button:active {
  background: var(--colorButtonPressed);
}

/* --------- About Me ----------- */

.about_me {
  width: 100vw;
  max-width: var(--sections-max-width);
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--backgroundColor);
}

.about_container {
  width: 100vw;
  max-width: var(--sections-max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  background-image:
    url(./assets/background/illustration\ 2-about\ me\ mobile.svg),
    url(./assets/background/illustration\ 1-\ about\ me-mobile.svg);
  background-repeat: no-repeat;
  background-size: 12%, 12%;
  background-position: bottom left, top right;
}

.about__title {
  color: var(--color-darkblue);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.about_button {
  margin: 5% auto 0 auto;
  padding: 0;
}

.about_wrapper {
  margin-top: 60px;
}

.about__list {
  list-style: none;
}

.about_me_container {
  box-sizing: border-box;
  position: relative;
  height: 316px;
  width: 327px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background: var(--color-white_bg);
  border: 1px solid var(--colorAboutBackground);
  margin: 20px;
}

.about_languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.about_icon {
  width: 65px;
  height: 65px;
  left: calc(50% - 80px / 2 + 0.5px);
  top: calc(50% - 80px / 2);
  margin: 40px auto 20px auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--backgroundColor);
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
}

.about_title {
  width: 100%;
  height: 48px;
  margin: 5px 0 5px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 32px;
  text-align: center;
  color: var(--colorProjecttext);
}

.about_cardtags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.about_cardtags li {
  height: 40px;
  background: var(--backgroundColor);
  border-radius: 8px;
  color: var(--color-main_theme);
  margin: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  padding: 12px;
  list-style: none;
}

/* ------------Contact Section--------------- */

.contact {
  background-color: var(--backgroundColor);
  max-width: var(--sections-max-width);
  margin: 4% auto 0 auto;
  background-image: url("./assets/background/illustration-contact-form.svg");
  background-repeat: no-repeat;
  background-size: 12%;
  background-position: bottom right;
}

.contact__container {
  box-sizing: border-box;
  margin: auto;
  width: 375px;
  height: 879px;
  padding: 64px 24px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 58px;
}

.contact__container h2 {
  margin-bottom: 5%;
  width: 327px;
  height: 363px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 173%;
  color: var(--color-darkblue);
}

.contact__form {
  margin: auto;
  margin-left: 1%;
  gap: 24px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  width: 327px;
}

.contact__form ul {
  list-style: none;
}

.contact__form__element {
  margin: 24px;
  width: 327px;
}

button[type="submit"] {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 12px;
  cursor: pointer;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  height: 48px;
  padding-left: 16px;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  resize: none;
}

textarea {
  width: 100%;
  height: 114px;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  border-radius: 4px;
  border: 1px solid var(--color-main_theme);
  resize: none;
}

label {
  display: none;
}

.contact__container__email {
  margin-bottom: 8%;
}

.footer {
  max-width: var(--sections-max-width);
  height: 72px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social__media ul {
  margin: 0;
  padding-top: 29px;
}

@media screen and (min-width: 768px) {
  header {
    position: relative;
  }

  .header {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    background-color: transparent;
  }

  header ul {
    width: 220px;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  header ul a {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-decoration: none;
    color: var(--color-darkblue);
  }

  .burger {
    display: none;
  }

  .main {
    min-height: 720px;
    max-height: 1180px;
    justify-content: center;
    background-image: url(assets/background/Header-llustration-desktop.svg);
  }

  .main p {
    width: 85%;
    max-width: 768px;
    margin-top: 1%;
  }

  .span__br2 {
    display: none;
  }

  .projects_h2_icon {
    display: none;
  }

  .social_media ul {
    margin-bottom: 5%;
  }

  .arrow_button {
    margin: 5% auto 5% auto;
    border-radius: 50%;
  }

  .project_wrapper {
    width: 95vw;
  }

  .project_h2_icon {
    display: none;
  }

  .about_description {
    width: 68vw;
  }

  .about_container {
    background-image:
      url(./assets/background/illustration-about-me-2-desktop.svg),
      url(./assets/background/illustration\ 1\ about\ me\ desktop.svg);
    background-size: 15%, 85%;
  }

  .about__list {
    display: flex;
    flex-basis: 28.3333%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skills {
    grid-area: 2/1/3/3;
  }

  .contact {
    width: 100vw;
    background-image:
      url("./assets/background/Left-contact-form-image.svg"),
      url("./assets/background/Left-center-contact-form-image.svg"),
      url("./assets/background/Right-contact-form-image.svg");
    background-repeat: no-repeat;
    background-size: 12%, 12%, 12%;
    background-position: bottom left, bottom left 19%, bottom right;
  }

  .contact__container {
    width: auto;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .contact__form ul {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name lastname"
      "email email"
      "message message"
      "button__form button__form";
    gap: 24px;
    list-style: none;
  }

  button[type="submit"] {
    justify-content: flex-start;
    margin: 0 auto 15% 0;
  }

  .contact__container__email {
    display: none;
  }
}
